* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  border: 1px solid #0d161b;
  border-radius: 5px;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  background: #cbcfcff3;
}

input {
  width: 300px;
  height: 40px;
  padding: 5px 5px 5px 15px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #60b7f1;
}

button:hover,
button:focus {
  background-color: #60f1b9;
}

.gallery {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px
}

.photo-card {
 
  border-radius: 5px;
  padding: 5px;
}

.img_wrap {
  display: flex;
  align-items: center;
  
}



.gallery_link {
  display: block;
  text-decoration: none;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;

  width: 100%;

  font-size: 16px;

  background: radial-gradient(circle 610px at 5.2% 51.6%, rgba(245, 237, 251, 0.767) 0%, rgba(238, 238, 253, 0.699) 97.5%) no-repeat fixed;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;

  color: #8e8cc0;
  text-shadow: 1px 1px 1px #FFF;

  }

.load-more {
  margin: 40px auto;
  width: 200px;
  background-color: #eff160;
}